<!DOCTYPE>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee status list <%= title %></title>
  </head>

  <body>
    
    <naw>
        <div class="Users content">
            <h2>All Users</h2>
        
            <% if (Users.length > 0) { %>
              <% Users.forEach(user => { %>
                <a class="single" href="/users/<%= user._id %>">
                <p class="id:"><%= user.id %></p>
                <h3 class="title"><%= user.name %></h3>
                <p class="snippet"><%= user.password %></p>
                <p class="email"><%= user.email %></p>
                </a>
              <% }) %>
            <% } else { %>
              <p>There are no blogs to display...</p>
            <% } %>
            
          </div>
    </naw>

    </body>
    </html>